<div class="nav-bar">
	<a class="logo" href="https://dribbble.com/"><span>dribbble</span></a>
	<div class="title-image">
		<div class="title">
			<a class="url" href="https://dribbble.com/shots/5964241-Free-Google-Material-Design-HTML-Login-Template">
				<span class="text">Free Google Material Design HTML Login Template</span></a>
			<a class="url2" href="https://dribbble.com/abuelsab"><br />
				<h2><span class="text1">by</span> Mohamed Abdelhady</h2>
			</a>
		</div>
		<div class="image2"></div>
	</div>
</div>
<div class="main-container">
	<div class="first-container">
		<img mat-card-image src="../../../assets/img1.png" alt="" />
		<mat-card-content>
			<p>
				<b>Lorepum ipsum dolor sit amet</b><br />
				Consectetur adipiscing elit<br />
				Phasellus orci dolor<br />
				dapibus suscipit quam<br />
			</p>
			<div class="paginators">
				<ul>
					<li class="current"></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</mat-card-content>
	</div>
	<div class="second-container">
		<mat-tab-group color="primary" animationDuration="0ms">
			<mat-tab color="accent" label="REGISTER"></mat-tab>
			<mat-tab label="LOGIN"></mat-tab>
		</mat-tab-group>
		<mat-form-field class="full-name" appearance="legacy">
			<mat-label>FULL NAME</mat-label>
			<input matInput placeholder="" value="" />
			<mat-icon matSuffix>check_circle_outline </mat-icon>
		</mat-form-field>
		<mat-form-field class="email-adress" appearance="legacy">
			<mat-label>Email Address</mat-label>
			<input matInput placeholder="" value="" />
			<mat-icon matSuffix>check_circle_outline</mat-icon>
		</mat-form-field>
		<mat-form-field class="mobile-number" appearance="legacy">
			<mat-label>Mobile Number</mat-label>
			<input matInput placeholder="" value="" />
			<mat-icon matSuffix>check_circle_outline</mat-icon>
		</mat-form-field>
		<mat-form-field class="set-password" appearance="legacy">
			<mat-label>Set Password</mat-label>
			<input matInput placeholder="" value="" />
			<mat-icon matSuffix>check_circle_outline</mat-icon>
		</mat-form-field>
		<mat-checkbox>
			I herby certify that I am at least 18 years of age</mat-checkbox>
		<mat-checkbox>
			I have read and accept the<a href="">Terms of use</a> and<a href="">Privacy policy</a></mat-checkbox>
		<mat-chip-list>
			<mat-chip color="primary">
				REGISTER NOW
				<mat-icon class="arrow">arrow_forward</mat-icon>
			</mat-chip>
		</mat-chip-list>
	</div>
	<div class="image-footer"></div>
</div>